// The MIT License
//
// Copyright 2017 hector.
//
// Permission is hereby granted, free of charge, to any person obtaining a copy
// of this software and associated documentation files (the "Software"), to deal
// in the Software without restriction, including without limitation the rights
// to use, copy, modify, merge, publish, distribute, sublicense, and/or sell
// copies of the Software, and to permit persons to whom the Software is
// furnished to do so, subject to the following conditions:
//
// The above copyright notice and this permission notice shall be included in
// all copies or substantial portions of the Software.
//
// THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
// IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
// FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
// AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
// LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
// OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN
// THE SOFTWARE.
//

@import 'demogorgon/types';

@include describe('Types') {

  @include describe('small-type [mixin]') {
    @include it('Add small type') {

      @include assert {
        @include output {
          @include small-type;
        }

        @include expect {
          font-size: 0.8125em;
          line-height: 1.38462em;
        }
      }
    }
  }

  @include describe('normal-type [mixin]') {
    @include it('Add normal type') {

      @include assert {
        @include output {
          @include normal-type;
        }

        @include expect {
          font-size: 1em;
          line-height: 1.5em;
        }
      }
    }
  }

  @include describe('big-type [mixin]') {
    @include it('Add big type') {

      @include assert {
        @include output {
          @include big-type;
        }

        @include expect {
          font-size: 1.375em;
          font-weight: 600;
          line-height: 1.09091em;
        }
      }
    }
  }

  @include describe('large-type [mixin]') {
    @include it('Add large type') {

      @include assert {
        @include output {
          @include large-type;
        }

        @include expect {
          font-size: 1.625em;
          font-weight: 600;
          line-height: 1.38462em;
        }
      }
    }
  }

  @include describe('larger-type [mixin]') {
    @include it('Add larger type') {

      @include assert {
        @include output {
          @include larger-type;
        }

        @include expect {
          font-size: 2.125em;
          font-weight: 600;
          line-height: 1.05882em;
        }
      }
    }
  }

  @include describe('huge-type [mixin]') {
    @include it('Add huge type') {

      @include assert {
        @include output {
          @include huge-type;
        }

        @include expect {
          font-size: 2.625em;
          font-weight: 700;
          line-height: 1.14286em;
        }
      }
    }
  }

  @include describe('mega-type [mixin]') {
    @include it('Add mega type') {

      @include assert {
        @include output {
          @include mega-type;
        }

        @include expect {
          font-size: 4.25em;
          font-weight: 700;
          line-height: 1.05882em;
        }
      }
    }
  }

  @include describe('giga-type [mixin]') {
    @include it('Add giga type') {

      @include assert {
        @include output {
          @include giga-type;
        }

        @include expect {
          font-size: 6.875em;
          font-weight: 700;
          line-height: 1.09091em;
        }
      }
    }
  }

}

