.font-tisa {
  font-family: "ff-tisa-web-pro-1","ff-tisa-web-pro-2",georgia,serif; }

.font-etica {
  font-family: "lft-etica-1","lft-etica-2",helvetica,sans-serif; }

.font-source-sans-pro {
  font-family: 'Source Sans Pro', helvetica, sans-serif; }

.type-small {
  font-size: 0.8125em;
  line-height: 1.3846153846em; }

.type-normal {
  font-size: 1em;
  line-height: 1.5em; }

.type-big {
  font-size: 1.375em;
  line-height: 1.0909090909em;
  font-weight: 600; }

.type-large {
  font-size: 1.625em;
  line-height: 1.3846153846em;
  font-weight: 600; }

.type-larger {
  font-size: 2.125em;
  line-height: 1.0588235294em;
  font-weight: 600; }

.type-huge {
  font-size: 2.625em;
  line-height: 1.1428571429em;
  font-weight: 700; }

.type-mega {
  font-size: 4.25em;
  line-height: 1.0588235294em;
  font-weight: 700; }

.type-giga {
  font-size: 6.875em;
  line-height: 1.0909090909em;
  font-weight: 700; }

body {
  padding: 2em; }

.styleinfo {
  color: green; }
