// The MIT License
//
// Copyright 2017 hector.
//
// Permission is hereby granted, free of charge, to any person obtaining a copy
// of this software and associated documentation files (the "Software"), to deal
// in the Software without restriction, including without limitation the rights
// to use, copy, modify, merge, publish, distribute, sublicense, and/or sell
// copies of the Software, and to permit persons to whom the Software is
// furnished to do so, subject to the following conditions:
//
// The above copyright notice and this permission notice shall be included in
// all copies or substantial portions of the Software.
//
// THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
// IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
// FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
// AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
// LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
// OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN
// THE SOFTWARE.
//

////
/// Font-family mixins
/// @group fonts
////

/// Font family FF Tisa
/// @link https://typekit.com/fonts/ff-tisa-web-pro
/// @example
///   .font-tisa {
///     @include ff-tisa;
///   }
///
@mixin ff-tisa {
  font-family: 'ff-tisa-web-pro-1', 'ff-tisa-web-pro-2', georgia, serif;
}


.font-tisa {
  @include ff-tisa;
}

/// Font family LFT Etica
/// @link https://typekit.com/fonts/lft-etica-web
/// @example
///   .font-etica {
///     @include lft-etica;
///   }
///
@mixin lft-etica {
  font-family: 'lft-etica-1', 'lft-etica-2', helvetica, sans-serif;
}

.font-etica {
  @include lft-etica;
}

/// Source Sans Pro
/// @link https://fonts.google.com/specimen/Source+Sans+Pro
/// @example
///   .font-source-sans-pro {
///     @include source-sans-pro;
///   }
///
@mixin source-sans-pro {
  font-family: 'Source Sans Pro', helvetica, sans-serif;
}

/// Source Sans Pro
.font-source-sans-pro {
  @include source-sans-pro;
}
