// The MIT License
//
// Copyright 2017 hector.
//
// Permission is hereby granted, free of charge, to any person obtaining a copy
// of this software and associated documentation files (the "Software"), to deal
// in the Software without restriction, including without limitation the rights
// to use, copy, modify, merge, publish, distribute, sublicense, and/or sell
// copies of the Software, and to permit persons to whom the Software is
// furnished to do so, subject to the following conditions:
//
// The above copyright notice and this permission notice shall be included in
// all copies or substantial portions of the Software.
//
// THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
// IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
// FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
// AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
// LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
// OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN
// THE SOFTWARE.
//

@import 'media-queries';

/// Display none
@mixin hidden {
  display: none !important;
}

/// Hide content
.hidden {
  @include hidden;
}

/// Display block
@mixin display_block {
  display: block !important;
}

/// Display block
.display_block {
  @include display_block;
}

/// Display inline
@mixin display_inline {
  display: inline;
}

/// Display inline
.display_inline {
  @include display_inline;
}

/// Hidden on tiny mobile view
@mixin hidden-tiny-mobile {
  @include media(tiny-mobile) {
    @include hidden;
  }
}

/// Hidden on tiny mobile view
.hidden-tiny-mobile {
  @include hidden-tiny-mobile;
}


@mixin visible-tablet {
  @include hidden;

  @include media(tablet) {
    @include display_block;
  }
}

.visible-tablet {
  @include visible-tablet;
}

.visible-tablet-inline {
  @extend .visible-tablet;
  @include media(tablet) {
    @include display_inline;
  }
}

/// Hidden on tablet view
@mixin hidden-tablet {
  @include media(tablet) {
    @include hidden;
  }
}

/// Hidden on tablet view
.hidden-tablet {
  @include hidden-tablet;
}

.visible-desktop {
  @include hidden;

  @include media(desktop) {
    @include display_block;
  }
}

.visible-desktop-inline {
  @extend .visible-tablet;
  @include media(tablet) {
    @include display_inline;
  }
}

/// Hidden on destop view
@mixin hidden-desktop {
  @include media(desktop) {
    @include hidden;
  }
}

/// Hidden on destop view
.hidden-desktop {
  @include hidden-desktop;
}
