////
/// Type presets
/// mostly calculated using a modular scale based on
/// the golden ratio: 1:1.618
/// http://modularscale.com/scale/?px1=16&px2=&ra1=1.618&ra2=0
/// @group types
////

@import 'constants';
@import 'conversion';

// TODO -> Should we revise generic font sizes??
$small-type:   13;
$normal-type:  16;
$big-type:     22;
$large-type:   26;
$larger-type:  34;
$huge-type:    42;
$mega-type:    68;
$giga-type:    110;

/// Small type preset
/// @example
///   .type-small {
///     @include small-type;
///   }
@mixin small-type {
  font-size: em($small-type);
  line-height: lines(.75, $small-type); // 18px, aligns with baseline grid every 4 lines
}

/// Small type
/// @example scss - Paragraph
///   <p class="small-type">Small type</p>
.type-small {
  @include small-type;
}

/// Normal type 
@mixin normal-type {
  font-size: em($font-size, $normal-type); // 16 is the base font-size of all(?) browsers
  line-height: lines(1); // 24px
}

.type-normal {
  @include normal-type;
}

@mixin big-type {
  font-size: em($big-type); // roughly 16*1.382 (shorter part of golden ratio)
  line-height: lines(1, $big-type); // 24px
  font-weight: 600;
}

.type-big {
  @include big-type;
}

@mixin large-type {
  font-size: em($large-type); // roughly 16*1.618 (longer part golden ratio)
  line-height: lines(1.5, $large-type); // 36px
  font-weight: 600;
}

.type-large {
  @include large-type;
}

@mixin larger-type {
  font-size: em($larger-type); // roughly 16*1.618 (longer part golden ratio)
  line-height: lines(1.5, $larger-type); // 36px
  font-weight: 600;
}

.type-larger {
  @include larger-type;
}

@mixin huge-type {
  font-size: em($huge-type); // roughly 16*1.618^2 (double golden ratio)
  line-height: lines(2, $huge-type); // 48px
  font-weight: 700;
}

.type-huge {
  @include huge-type;
}

@mixin mega-type {
  font-size: em($mega-type); // roughly 16*1.618^3 (triple golden ratio)
  line-height: lines(3, $mega-type); // 72px
  font-weight: 700;
}

.type-mega {
  @include mega-type;
}

@mixin giga-type {
  font-size: em($giga-type); // just in case you need something this big!
  line-height: lines(5, $giga-type); // 120px
  font-weight: 700;
}

.type-giga {
  @include giga-type;
}
