@import 'constants';

/*  --------------------------------------------
  Em conversion functions
  pixels to ems & baselines to ems
  --------------------------------------------
  Usage:
  - em(6, 26) converts 6px to ems assuming the
    font-size of the element is 26px. If the
    element's font-size is the same as the
    base font-size, you can omit the 2nd
    argument: em(6)
  - lines(0.5, 26) is a shorthand for
    em(($line-height/2), 26), so em(12, 26)
    in Sharetribe's case.
  --------------------------------------------
  Examples:
    p {
      font-size:
      line-height: lines(1);
      margin-bottom: lines(0.5);
    }
    h1 {
      font-size: em(42);
      line-height: lines(2, 42);
      margin-bottom: lines(1, 42);
    }
  --------------------------------------------
*/

@function em($pixels, $context-font-size: $font-size) {
  @return ($pixels / $context-font-size) * 1em;
}

@function lines($lines, $context-font-size: $font-size,  $context-line-height: $line-height) {
  @return $lines * ($context-line-height / $context-font-size) * 1em;
}

@function ems-to($ems, $new-context-font-size, $old-context-font-size: $font-size) {
  @return $ems * $old-context-font-size / $new-context-font-size
}

@function lines-to($lines, $new-context-font-size, $old-context-font-size: $font-size) {
  @return ems-to($lines, $new-context-font-size, $old-context-font-size);
}
